body {
	margin: 0;
}

.banner {
	background: #fafafa;
	position: fixed;
	width:100%;
	top:0px;
	z-index:999;
}

.banner img  {
	width:256px;
}

.banner button {
	width:150px;
}

.banner .smalltext {
	margin-left:50px;
}

.banner table {
	width:30%;
}

.banner td {
	padding: 0 20px;
}

.centerhv {
    display: flex;
   	align-items: center;
    justify-content: center;
}

.centerh {
    display: flex;
    justify-content: center;
}

.userpage {
	margin-top:5%;
	margin-bottom:1%;
}

.userposts {
	display: flex;
	flex-direction: column;
	width:40%;
}

.avatarcontainer {
	float: left;
  display: flex;
  align-items: center;
  justify-content: center;
	width: 138px;
	height: 138px;
	background: #f1f1f1;
}

.infocontainer {
	width: 256px;
	height:138px;
	background:#f1f1f1;
}

.infocontainer > h2 {
	margin-top: 3%;
	margin-bottom: 0;
}

.infocontainer p {
	height:40%;
	margin-top: 0;
	line-break: anywhere;
}

.smalltext {
	color:#777777;
	margin-top: 0;
	margin-bottom: 0;
}

.editbutton {
	float:right;
	margin-right:5px;
}

.badge {
	image-rendering: pixelated;
}


.postcomment {
	position: relative;
}

.avatar {
	position: absolute;
	left: -70px;
	top: -10px;
}

.help {
	cursor: grab;
	image-rendering: pixelated;
}

.postimg {
	min-width: 128px;
	min-height:128px;
	max-width: 512px;
	max-height:512px;
}

